[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.7"

[packages]
esteganew = {editable = true,path = "."}
cryptography = ">=3.2"
Pillow = "*"

[requires]
python_version = "3.6"
